
<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}};
</head>
<body>
 {{>navbar}};
    <div class="container-fluid main_header">
        <div class="row">
            <div class="column-md-10 col-12 max-auto ">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/404-banner.jpg" alt="Jay image" class="img-fluid" title=""Jay Singh>
                        </figure>
                   
                    
                        <p>Error Page Welcomes You</p>
                        <h1>{{errormsg}}</h1>
                        <a href="/" target="_balnk"><button>Go Back</button></a>

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    {{footer}};
</body>
</html>