
<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}};
</head>
<body>
    {{>navbar}};
    <div class="container-fluid main_header">
        <div class="row">
            <div class="column-md-10 col-12 max-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/jay4.jpg" alt="Jay image" class="img-fluid" title=""Jay Singh>
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather App</p>
                        <h1>I Am a<spam class="text_clr"> Mern Stack Developer</spam>And Coder</h1>
                        <a href="https://everydeveloper.com/" target="_balnk"><button>About Me</button></a>

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    {{footer}};
</body>
</html>